// set paswords in this file
rcon_password "${RCON_PASSWORD}"
rcon_secure 1
sv_vote_master_callable 0	
% if RCON_RESTRICTED_PASSWORD:
rcon_restricted_password "${RCON_RESTRICTED_PASSWORD}"
sv_vote_master_password "${RCON_RESTRICTED_PASSWORD}"
% endif
